{% extends 'polls/layout.html' %}

{% block title %}Details{% endblock title %}

{% block body %}
<h1>{{ question.question_text }}</h1>

{% if error_message %}
<p><strong> {{ error_message }} </strong></p>
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}

    {% for choice in question.choice_set.all %}
    <div class="vote-nodes">
        <input type="radio" name="choice" id="choice{{ forloop.counter}}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    </div>

    {% endfor %}
    <input type="submit" value="Vote" id="submit-btn">
</form>
{% endblock body %}